<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <div class="col-md-6 m-auto" >
        <div class="card">
            <h1 style="margin: 3% 0 3% 26%;">QUÊN MẬT KHẨU</h1>
            <div class="card-body">
                <form action="/thanhvien/quemk" method="post">
                    <div class="form-group mb-3">
                        <label for="un">Email:</label>
                        <input type="text" class="form-control bg-info" name="email" id="un">
                    </div>
                    <p><button type="submit" class="btn btn-warning">Gửi mail</button></p>
                    <a href="/thanhvien/dangnhap"></a>
                </form>
            </div>
        </div>
    </div>