<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<form action="/testsendmail_" method="POST" class="form w-50 border p-2 m-auto mt-5 ">
    <p>Email nhận: <input type="text" name="emailnhan" class="form-control bg-primary"/></p>  
    <p>Tiêu đề thư: <input type="text" name="tieude" class="form-control bg-info" /></p>  
    <p>Nội dung: <textarea name="noidung" class="form-control bg-warning" rows="5"></textarea></p>
    <p>Gửi File: <input type="file" name="hinh" class="form-control bg-info"/></p>
    <p><input type="submit" value="Submit" class="btn btn-success"/></p>   
</form>